body {
  font-family: "Inter", sans-serif;
  background-color: #f5f2eb;
}

.no-link-style {
  color: #000000;
  text-decoration: none;
}

.txt-bold {
  font-weight: bold;
}

.txt-gray {
  color: #797979;
}

.ml-10 {
  margin-left: 10px;
}

.w-100 {
  width: 100%;
}

.d-none {
  display: none;
}

.mt-0 {
  margin-top: 0;
}

.mb-32 {
  margin-bottom: 32px;
}

#signIn,
#landingImg {
  display: inline-block;
  vertical-align: top;
}

#signIn {
  width: 480px;
  background-color: #ffffff;
  border-radius: 30px;
  text-align: center;
  padding: 58px 52px 66px;
}

#signInTitle {
  margin-top: 0;
  margin-bottom: 12px;
}
#signInSubtitle {
  margin-top: 0;
  color: rgba(0, 0, 0, 0.2);
}

.txt-left {
  text-align: left;
}

.btn-primary {
  font-size: 16px;
  font-weight: 500;
  background-color: #aed6b3;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 12px 18px;
}

.btn-primary.transparent {
  border: none;
  background-color: transparent;
}

.secondary-btn {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 40px;
  padding: 10px 23px;
}

.secondary-btn:nth-child(2) {
  margin: 0 8px;
}

.secondary-btn i {
  margin-right: 8px;
}

.main-nav {
  margin-top: 18.5px;
  margin-right: 70px;
  text-align: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: #000000;
  text-decoration: none;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #5d5d5d;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 14.5px 23px;
}

.sign-in-btn {
  width: 100%;
  color: #ffffff;
  margin: 0;
  border: none;
}
